/sw-web/target/war/work/org.sw.soft/cms-web/WEB-INF/lib/*.jar
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/base/.classpath
/base/.project
/base/.settings/org.eclipse.core.resources.prefs
/base/.settings/org.eclipse.jdt.core.prefs
/base/.settings/org.eclipse.ltk.core.refactoring.prefs
/base/.settings/org.eclipse.m2e.core.prefs
/base/.settings/org.eclipse.wst.common.component
/base/.settings/org.eclipse.wst.common.project.facet.core.xml
/cms-admin/.classpath
/cms-admin/.project
/cms-admin/.settings/.jsdtscope
/cms-admin/.settings/org.eclipse.core.resources.prefs
/cms-admin/.settings/org.eclipse.jdt.core.prefs
/cms-admin/.settings/org.eclipse.m2e.core.prefs
/cms-admin/.settings/org.eclipse.wst.common.component
/cms-admin/.settings/org.eclipse.wst.common.project.facet.core.xml
/cms-admin/.settings/org.eclipse.wst.jsdt.ui.superType.container
/cms-admin/.settings/org.eclipse.wst.jsdt.ui.superType.name
/cms-admin/.settings/org.eclipse.wst.validation.prefs
/cms-admin/target/classes/config/spring/spring-common-admin.xml
/cms-admin/target/classes/config/spring/spring-mvc-admin.xml
/cms-admin/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/cms-admin/target/m2e-wtp/web-resources/META-INF/maven/org.sw.soft/cms-admin/pom.properties
/cms-admin/target/m2e-wtp/web-resources/META-INF/maven/org.sw.soft/cms-admin/pom.xml
/cms-web/.classpath
/cms-web/.project
/cms-web/.settings/.jsdtscope
/cms-web/.settings/org.eclipse.core.resources.prefs
/cms-web/.settings/org.eclipse.jdt.core.prefs
/cms-web/.settings/org.eclipse.m2e.core.prefs
/cms-web/.settings/org.eclipse.wst.common.component
/cms-web/.settings/org.eclipse.wst.common.project.facet.core.xml
/cms-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
/cms-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
/cms-web/.settings/org.eclipse.wst.validation.prefs
/cms-web/target/classes/config/spring/spring-common-web.xml
/cms-web/target/classes/config/spring/spring-mvc-web.xml
/cms-web/target/m2e-wtp/web-resources/META-INF/maven/org.sw.soft/cms-web/pom.properties
/cms-web/target/m2e-wtp/web-resources/META-INF/maven/org.sw.soft/cms-web/pom.xml
/sw-web/.classpath
/sw-web/.project
/sw-web/.settings/.jsdtscope
/sw-web/.settings/org.eclipse.core.resources.prefs
/sw-web/.settings/org.eclipse.jdt.core.prefs
/sw-web/.settings/org.eclipse.m2e.core.prefs
/sw-web/.settings/org.eclipse.wst.common.component
/sw-web/.settings/org.eclipse.wst.common.project.facet.core.xml
/sw-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
/sw-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
/sw-web/.settings/org.eclipse.wst.validation.prefs
/sw-web/.settings/org.eclipse.wst.ws.service.policy.prefs
/cms-admin/target/classes/com/cms/admin/controller/*.class
*.class
